/*
    Name: 
    Type:  stylesheet
    Project: Virage 2.0 Claiming Mobile app
    Working Title: ASEQ-Mobile 
    Version: developpement 
    Author: Benoit Favreault
    Production: Alogient (www.alogient.com)

  DESCRIPTION
  Stylesheets for a Phone-Gap mobile app. Extensive uses of css3 flex-boxes. For iOS 4+ and Android 3.5.
*/
body {
  margin: 0;
  padding: 0;
  background: url(images/bg-dark.png) repeat-y;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.birth-date input[type="date"] {
    font-size: 16px;
}
textarea {
  vertical-align: top;
}
a {
  color: inherit;
  text-decoration: none;
}
#gradients #button .card {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(14%, #3a3a3a), color-stop(50%, #1d1d1d), color-stop(52%, #000000), color-stop(100%, dimGray));
}
/*   =============================================================================
     SECTION - aseq-layouts.less
     =========================================================================== */
/* Resets */
html,
body {
  overflow-y: hidden;
}
/* Containers */
.screen,
.loadingScreen {
  background-image: url(images/bg-light.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-sizing: border-box;
  height: 480px;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: justify;
}
.screen .block-over {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: 8px;
  padding: 0 8px;
  width: 100%;
}
header {
  background-image: url(images/bg-dark.png);
  background-position: 0 0;
  background-attachment: fixed;
  background-repeat: repeat;
  height: 71px;
  width: 100%;
  background-color: #95c555;
}
header nav {
  height: 42px;
}
.banner {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #21752f), color-stop(14%, #2a8336), color-stop(50%, #166827), color-stop(52%, #0a5a1f), color-stop(100%, #0a5a1f));
}
footer {
  background-color: #000000;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(4%, #696969), color-stop(5%, #3a3a3a), color-stop(50%, #1d1d1d), color-stop(51%, #000000), color-stop(100%, #000000));
  height: 60px;
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}
.main {
  box-sizing: border-box;
  background-color: transparent;
  min-height: 1px;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 8px 8px 8px;
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-overflow-scrolling: touch;
}
.main.main-load {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  width: 100%;
}
#associationContainer .main,
#CreateProfileConfirmationContainer .main,
#welcomeContainer .main {
  padding: 0 8px;
}
#Overlay-Banking-Information .main {
  padding: 0 8px;
  -webkit-box-align: center;
}
#claimHistoryContainer .main {
  -webkit-box-pack: start;
}
#Overlay-Banking-Information {
  width: 100%;
}
.main-overlay {
  margin-top: 8px;
}
#splashScreenContainer img {
  display: block;
}
/* UNLOGGED SCREENS */
.logged-out,
#dependentFormContainer,
#profileViewContainer,
#dependentListContainer,
#EditSelectAssociationContainer,
#basicInformationViewContainer,
#securitySettingsViewContainer,
#contactInformationContainer,
#refundPreferencesViewContainer,
#coordinationBenefitListContainer,
#contactInformationContainer,
#coordinationBenefitFormContainer,
#moreViewContainer,
#supportContainer,
#alertContainer {
  background-image: url(images/bg-dark.png);
  color: #ffffff;
  background-color: #95c555;
  background-repeat: repeat;
}
.logged-out#supportContainer {
  background-image: url(images/bg-light.png);
  color: #000000;
  background-color: #f9f9f9;
  background-repeat: repeat;
}
#basicInformationViewContainer .main label,
#securitySettingsViewContainer .main label,
#contactInformationContainer .main label,
#refundPreferencesViewContainer .main label,
#coordinationBenefitListContainer .main label,
#contactInformationContainer .main label,
#coordinationBenefitFormContainer .main label,
#moreViewContainer .main label,
.logged-out#supportContainer .main h1 {
  color: #000000;
}
.logged-out header,
#dependentFormContainer .header,
#profileViewContainer .header,
#dependentListContainer .header,
#EditSelectAssociationContainer .header,
#basicInformationViewContainer .header,
#securitySettingsViewContainer .header,
#contactInformationContainer .header,
#refundPreferencesViewContainer .header,
#coordinationBenefitListContainer .header,
#contactInformationContainer .header,
#coordinationBenefitFormContainer .header,
#moreViewContainer .header,
#alertContainer .header {
  background-image: url(images/bg-light.png);
  color: #222222;
  background-color: #f9f9f9;
  background-repeat: repeat;
}
.logged-out#forgotPasswordContainer .main,
.logged-out#supportContainer .main {
  padding: 0 8px;
}
fieldset:last-of-type {
  margin-bottom: 0;
}
.main
{
    display: block;
}

#selectAssociationContainer .main,
#associationContainer .main,
#getStartedContainer .main
{
    display: -webkit-box;
}

fieldset
{
    display: -webkit-box;
}
.controls
{
    display: -webkit-box;
}
.main,
fieldset,
.controls {
  /*display: flexbox;*/ /* -webkit-box;*/
  -webkit-box-orient: vertical;
  -webkit-box-pack: justify;
  box-sizing: border-box;
}
footer,
.btn,
header nav,
.banner,
.control-group,
.form-actions,
label.radio {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
}
.banner {
  height: 29px;
  -webkit-box-pack: center;
}
.banner img {
  display: -webkit-box;
  max-height: 50%;
}
#claimTypeSelectionPage,
#claimPictureSelectionPage,
#forgotPasswordForm,
#selectAssociationForm,
#claimFail,
.security-settings,
#associationContainer,
#TravelEmergencyContainer .main {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  -webkit-box-pack: start;
  -webkit-box-flex: 1;
}
#claimTermsPage,
#claimUploadPage,
#claimHistoryUploadPage,
#claimPersonSelectPage,
#claimCommentsPage,
#claimSubmissionError,
#claimConfirmPage,
#selectAssociationForm,
#supportContainerForm,
#dependentListContainerForm {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  -webkit-box-pack: justify;
  height: 100%;
}
#claimUploadPage,
#claimHistoryUploadPage,
#supportContainerForm {
  min-height: 401px;
}
#claimTermsPage,
#claimPersonSelectPage,
#claimCommentsPage,
#claimSubmissionError,
#claimConfirmPage,
#dependentListContainerForm,
#alertContainerForm,
#supportContainerForm.logged {
  min-height: 341px;
}
#selectAssociationForm {
  min-height: 275px;
}
#claimTermsPage fieldset,
#claimUploadPage fieldset,
#claimHistoryUploadPage fieldset,
#claimPersonSelectPage fieldset,
#claimCommentsPage fieldset,
#claimSubmissionError fieldset,
#claimConfirmPage fieldset,
#selectAssociationForm fieldset,
#supportContainerForm fieldset,
#dependentListContainerForm fieldset,
#alertContainerForm fieldset {
  display: block;
}
#claimConditionsPage {
  padding-top: 4px;
}
.highlight {
  margin: 0 0 8px 0;
}
.highlight li {
  margin-bottom: 0;
}
.highlight .btn {
  background-image: none;
  background: #ffffff;
  border-radius: 0 !important;
  color: #000000;
  font-size: 12px;
  padding: 0 8px;
  text-shadow: none;
}
.highlight li:nth-child(1) a {
  border-top-left-radius: 6px !important;
  border-top-right-radius: 6px !important;
}
.highlight li:nth-last-child(1) a {
  border-bottom-left-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
}
.highlight span.ico {
  background: none;
  color: #a1a1a1;
  font-size: 16px;
  font-weight: bold;
  padding-top: 3px;
}
.faq {
  margin-bottom: 4px;
}
.faq .question {
  background: #E7E7E7 ;
  border: solid 1px #acacac;
  border-radius: 6px;
  padding: 8px;
}
.faq .icon {
  background: url('images/glyphicons-halflings.png') no-repeat 0 -95px;
  display: inline-block;
  height: 14px;
  margin-right: 8px;
  width: 14px;
}
.faq .answer {
  display: none;
  margin: 4px 0;
  padding: 8px;
}
.faq.expanded .icon {
  background-position: -24px -95px;
}
.faq.expanded .answer {
  display: block;
}
.card {
  border-collapse: collapse;
}
.card .payDirectCardBackCol {
  background-color: black;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #000000), color-stop(4%, dimGray), color-stop(5%, #3a3a3a), color-stop(50%, #1d1d1d), color-stop(51%, #000000), color-stop(100%, #000000));
  color: white;
  cursor: pointer;
}
.card .payDirectCardBackCol img {
  -webkit-transform: rotate(180deg);
}
.horizontal {
  height: 480px;
  padding: 0;
  margin: 0;
}
.horizontal table.card {
  border: 0;
  height: 320px;
  width: 480px;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  border-spacing: 0;
  -webkit-transform: rotate(90deg);
  -webkit-transform-origin: 160px 160px;
  background: #fff;
}
.card .header-logo {
  padding-left: 18px;
  width: 400px;
}
.card .header h1,
.card .member-profile h1 {
  color: #5cba64;
  line-height: 20px;
  text-align: left !important;
}
.card .member-profile h1 {
  font-size: 16px;
  line-height: 18px;
}
.card p {
  margin: 0;
  text-align: left !important;
}
.card .plan {
  background: #4b642b url(images/bg-card-plan.png) no-repeat right top;
  color: #fff;
  height: 28px;
  padding: 0 0 0 18px;
}
.card .plan h1 {
  margin: 2px;
  text-align: left !important;
  font-weight: normal;
}
.card .main-card .first-row {
  background: url(images/bg-dark.png)  repeat-y top left;
  /*background: url(images/bg-main-card.png) no-repeat right top;*/
  height: 89px;
  padding-left: 18px;
}
.card .main-title {
  color: #fff;
  height: 42px;
  text-transform: uppercase;
  vertical-align: bottom;
}
.card .main-title td {
  padding-bottom: 6px;
}
.card .main-title .first {
  width: 78px;
}
.card .main-title .second {
  width: 122px;
}
.card .main-description {
  height: 47px;
}
.card .main-description td {
  vertical-align: top;
}
.card .main-description span {
  background: #fff;
  font-family: monospace;
  font-size: 18px;
  letter-spacing: 6px;
  padding: 0 0 0 4px;
}
.card .main-description .first {
  width: 78px;
}
.card .main-description .second {
  width: 122px;
}
.card .footer .logo {
  padding-left: 18px;
  padding-top: 6px;
}
.card .footer .logo img {
  display: block;
  height: 44px;
}
.img-welcome {
  width: 50%;
}
.box-center {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-orient: vertical;
  height: 315px;
}
/*   =============================================================================
     SECTION - aseq-buttons.less
     ===========================================================================*/
.btn {
  box-sizing: border-box;
  -webkit-box-pack: center;
  border-radius: 6px !important;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  height: 48px;
  margin: 0 0 8px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #73a533), color-stop(14%, #8dc63f), color-stop(50%, #73a533), color-stop(52%, #66952e), color-stop(100%, #598527));
  border-color: #a1a1a1, #2e2e2e, #333;
  border-width: 1px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.85);
  -webkit-box-shadow: 0 1px 2px -1px rgba(255, 255, 255, 0.66);
  -webkit-box-shadow: inset 0 1px 2px -1px #000000;
}
.btn.primary {
  color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #21752f), color-stop(14%, #2a8336), color-stop(50%, #166827), color-stop(52%, #0a5a1f), color-stop(100%, #0a5a1f));
  -webkit-box-ordinal-group: 3;
}
.btn.secondary {
  color: #fff;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffff), color-stop(0.05, rgba(235, 235, 235, 0.952941)), color-stop(0.5, rgba(190, 190, 190, 0.901961)), color-stop(0.5, rgba(160, 160, 160, 0.658824)), to(rgba(167, 167, 167, 0.6)));
  background-color: #808080;
}
.btn.alternative {
  color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8e8e8e), color-stop(14%, #8e8e8e), color-stop(50%, #717171), color-stop(52%, #5b5b5b), color-stop(100%, #5b5b5b));
}
.btn.choices {
  color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #73a533), color-stop(14%, #8dc63f), color-stop(50%, #73a533), color-stop(52%, #66952e), color-stop(100%, #598527));
}
.btn.delete {
  color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f0151d), color-stop(14%, #ca151d), color-stop(50%, #aa1218), color-stop(52%, #760c11), color-stop(100%, #d6151d));
}
.btn.card {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #000000), color-stop(14%, #3a3a3a), color-stop(50%, #1d1d1d), color-stop(52%, #000000), color-stop(100%, dimGray));
}
.btn span {
  -webkit-box-flex: 1;
  display: block;
  text-align: center;
}
.btn .ico {
  display: block;
  width: 36px;
  height: 36px;
  margin: 0 12px;
}
li .btn {
  -webkit-box-pack: justify;
}
.btn > img + span {
  text-align: left;
}
span.ico {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #21752f), color-stop(14%, #2a8336), color-stop(50%, #166827), color-stop(52%, #0a5a1f), color-stop(100%, #0a5a1f));
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  height: 48px !important;
  display: -webkit-box !important;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  -webkit-box-flex: 0 !important;
  margin: 0 !important;
  width: 36px;
}
span.ico img.ico {
  margin: 0;
  width: 21px;
  height: 21px;
}
footer .btn {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: justify;
  background-color: transparent;
  background-image: none;
  border-left: solid #4d4d4d 1px;
  border-radius: 0 !important;
  color: #fff;
  font-size: 11px;
  text-shadow: none;
  height: 52px;
  margin: 0;
  padding-top: 4px;
  -webkit-box-pack: center;
  -webkit-box-flex: 1;
  -webkit-box-shadow: none;
}
footer .btn:first-child {
  border-left: none;
}
footer .btn img {
  height: 26px;
  margin-bottom: 0.1em;
}
footer .btn span {
  font-weight: 400;
  -webkit-box-flex: 0;
}
a.selected span {
  color: #8cc63f;
}
nav .btn {
  color: #222222;
  height: 30px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffffe1), color-stop(0.05, rgba(235, 235, 235, 0.952941)), color-stop(0.5, rgba(190, 190, 190, 0.901961)), color-stop(0.5, rgba(160, 160, 160, 0.658824)), to(rgba(167, 167, 167, 0.6)));
  background-color: #808080;
  margin: 0 8px;
  padding: 0 8px;
  font-size: 12px;
  border-width: 1px;
  text-shadow: 0 1px rgba(255, 255, 255, 0.85);
}
nav .btn span {
  color: #000;
  display: block;
  width: 100%;
  text-align: center;
}
/*=============================================================================
     SECTION - aseq-forms.less
   ============================================================================*/
/* Forms elements */
legend {
  font-size: 18px;
  text-transform: uppercase;
  margin: 16px 0 8px 8px;
  font-weight: bold;
}
fieldset legend {
  text-align: left;
  margin-left: -8px;
  margin-right: -8px;
  background-color: rgba(0, 0, 0, 0.7) !important;
  width: 100%;
  color: #fff;
  font-weight: 400;
  padding: 2px 8px;
  font-size: 14px;
  line-height: 16px;
}
fieldset {
  font-size: 12px;
  padding: 0;
  background-color: transparent !important;
  border: none !important;
  margin: 4px 0 16px 0;
}
#alertContainer fieldset {
  background: #fff !important;
  color: #000000;
  padding: 8px;
}
fieldset.loggin {
  border: none !important;
}
select {
  border-radius: 6px;
  border: solid 1px #acacac;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-top-right-radius: 0;
  width: 100%;
  display: block;
  height: 22px;
  background: #fff !important;
  color: #000000;
}
.controls {
  display: -webkit-box;
  margin-top: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  -webkit-box-pack: start;
}
fieldset .controls 
{
    margin-top: 0;
}
#claimConditionsPage .controls
{
    margin-top: 6px;
}
.loggin .control-group {
  margin: 0 !important;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  height: 44px;
}
label,
input[type="text"] {
  display: -webkit-box;
  float: none !important;
}
input div,
input::-webkit-input-placeholder,
isindex::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  display: inline !important;
}
label {
  background-color: #fff;
  border-style: solid;
  border-color: #acacac;
  border-radius: 0;
  border-width: 1px;
  border-right: none;
  display: -webkit-box;
  font-size: 11px;
  font-weight: bold;
  text-align: right;
  height: 44px;
  padding: 0 8px;
  box-sizing: border-box;
  -webkit-box-align: center;
  -webkit-box-pack: end;
  width: 33%;
}
input {
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-radius: 0;
  border-color: #acacac;
  font-size: 12px;
  font-weight: 400;
  display: -webkit-box;
  text-align: left;
  padding: 0 8px;
  height: 44px;
  box-sizing: border-box;
  /*-webkit-box-flex: 2;*/

  margin: 0;
  width: 67% !important;
}
input.calendar {
  height: 22px;
  border-radius: 6px;
}
input,
label {
  border-bottom: none;
}
label.control-label {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(50%, #fefefe), color-stop(100%, #cacaca));
  font-size: 12px;
}
.logged-out .main label.control-label,
#dependentFormContainer .main label.control-label,
#associationContainer .main label.control-label,
#mainMenuContainer .main label.control-label,
#profileViewContainer .main label.control-label,
#dependentListContainer .main label.control-label {
  color: #000000;
}
.loggin label[for="studentId"],
.control-group:first-of-type label {
  border-top-left-radius: 6px;
}
.loggin input#email,
.control-group:first-of-type input {
  border-top-right-radius: 6px;
}
.loggin label[for="password"],
.control-group:last-of-type label {
  border-bottom: solid #acacac 1px;
  border-bottom-left-radius: 6px;
}
.loggin input#password,
.control-group:last-of-type input {
  border-bottom: solid #acacac 1px;
  border-bottom-right-radius: 6px;
}
.form-actions {
  background-color: transparent;
  margin: 16px 0 0 0;
  padding: 0;
  font-size: 12px;
}
.form-actions .half-width {
  width: 156px;
}
ul {
  list-style-type: none;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  -webkit-box-pack: start;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  padding: 0;
}
ul li {
  display: block;
  margin: 0 0 8px 0;
}
.control-group ul {
  -webkit-box-flex: 1;
}
.control-group ul li:first-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0;
  border: solid #acacac 1px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.control-group ul li {
  display: -webkit-box;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  padding: 0 0 0 0;
  background-color: white;  
  border: solid #acacac 1px;
  margin: 0;
}
.control-group ul li:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.simple-group li {
  -webkit-box-align: center;
}
.control-group .simple-group li:last-child {
  border-top: 0;
  border-bottom-left-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
}
.control-group .simple-group li:only-child {
  border-radius: 6px;
  border: solid #acacac 1px;
}
.control-group ul li label {
  border: none !important;
  -webkit-box-pack: start;
  -webkit-box-flex: 1;
  width: auto !important;
}
.control-group ul li input {
  display: inline;
  border: none !important;
  width: auto !important;
}
fieldset fieldset {
  border: none;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  height: 44px;
  border-bottom: solid #ccc 1px;
}
fieldset fieldset label {
  border: none;
  -webkit-box-ordinal-group: 2;
  height: auto;
}
fieldset fieldset legend {
  background-color: #fff;
  border-style: solid;
  border-color: #acacac;
  border-radius: 0;
  border-width: 1px;
  border-right: none;
  display: -webkit-box;
  font-size: 12px;
  font-weight: bold;
  text-align: right;
  height: 44px;
  padding: 0 8px;
  box-sizing: border-box;
  -webkit-box-align: center;
  -webkit-box-pack: start;
  width: 84px;
}
fieldset fieldset .control-group {
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-radius: 0;
  border-color: #acacac;
  font-size: 12px;
  font-weight: 400;
  display: -webkit-box;
  text-align: left;
  padding: 0 8px;
  height: 44px;
  box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-align: start;
  -webkit-box-pack: center;
  -webkit-box-flex: 2;
}
/* flexboxs elements */
nav *:nth-child(2) {
  -webkit-box-flex: 1;
}
.control-group .btn,
.form-actions .btn {
  -webkit-box-flex: 1;
}
.error {
  color: red;
}
.control-group.error,
.error-group label.error {
  color: #000;
  float: none;
  vertical-align: top;
  background: #d2d2d2 url(images/download.png) no-repeat 5px 8px;
  border-radius: 6px;
  text-align: center;
  padding: 8px 8px 8px 10px;
  margin: 8px 0;
}
.control-group.error {
  padding-left: 20px;
  width: 90%;
}
.error-group label.error {
  display: block;
  height: auto;
  width: 100%;
}
.error-group.special-alignment {
  width: 100%;
}
.error-group.special-alignment .controls {
  display: inline-block;
}
.control-group label.error:after {
  clear: both;
}
.error img {
  height: 12px;
  margin-right: 8px;
}
.check-group {
  background-color: #ffffff;
  border: solid 1px #acacac;
  border-radius: 6px;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  margin: 8px 0;
}
.check-group input {
  height: auto;
  margin: 0 8px 0 0;
  width: 29px !important;
}
.check-group.check-group-small input {
  width: 10%;
}
.check-group label {
  border: none;
  height: auto;
  padding: 0;
  -webkit-box-pack: start;
  width: auto;
}
/*.check-group.check-group-small label{
   width:90% !important;
}*/
.check-group.transparent {
  border: none;
  padding-top: 8px;
}
.check-group.transparent label {
  background: none;
}
.radio-group {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  margin: 16px 0;
}
.radio-group input {
  height: auto;
  width: 29px !important;
}
.radio-group label {
  border: none;
  font-weight: normal;
  height: auto;
  text-align: inherit;
  -webkit-box-pack: start;
  width: 260px !important;
  background: transparent;
}
.radio-group .controls label {
  width: auto !important;
}
.group-wrapper,
.date-group {
  background: #ebffbb;
  border: solid #acacac 1px;
  display: -webkit-box;
  padding: 6px;
  -webkit-box-align: center;
  -webkit-box-pack: start;
}
.group-wrapper {
  border-radius: 0;
  color: #000000;
}
.date-group {
  border-radius: 6px;
  color: #000000;
  width: 94%;
}
.group-wrapper:first-of-type {
  border-radius: 6px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}
.group-wrapper:last-of-type {
  border-radius: 6px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}
.group-wrapper:only-of-type {
  border-radius: 6px;
}
#coordinationBenefitListContainer .group-wrapper:last-of-type {
  margin-bottom: 8px;
}
#claimHistoryContainer .group-wrapper {
  padding: 0 6px 8px 0;
  border-bottom: dashed #222222 1px;
}
#claimHistoryContainer .group-wrapper:first-of-type {
  border-bottom: dashed #222222 1px;
}
#claimHistoryContainer .group-wrapper:last-of-type {
  border-bottom: none;
}
#claimHistoryContainer .group-text-icon {
  -webkit-box-align: end;
}
#claimHistoryContainer .group-icon {
  -webkit-box-pack: end;
}
#claimHistoryContainer .group-text:first-letter {
  text-transform: uppercase;
}
#claimHistoryContainer .group-text span:first-child {
  font-weight: bold;
}
#claimHistoryContainer .warning legend {
  background-color: #ba262b !important;
}
#claimHistoryContainer .warning .control-group {
  color: #000;
  float: none;
  vertical-align: top;
  background: #d2d2d2 no-repeat;
  border-radius: 6px;
  text-align: center;
  padding: 8px !important;
  border: solid #aaa 1px;
  margin-bottom: 16px;
}
#claimHistoryContainer .warning .control-group p {
  margin: 0;
}
#claimHistoryContainer .warning .control-group p img.ico {
  display: inline-block;
  line-height: 16px;
  height: 16px;
  margin: 0 0 -5px 0;
}
#claimHistoryContainer .warning .group-wrapper {
  background-color: #f1d8d2;
  border: solid #ba262b 1px;
  border-radius: 0;
  margin-bottom: 8px;
  padding: 8px 6px !important;
}
#claimHistoryContainer .warning .group-wrapper:first-of-type,
#claimHistoryContainer .warning .group-wrapper:last-of-type {
  border: solid #ba262b 1px !important;
}
.group-wrapper .controls select {
  width: 165px;
}
input[type="checkbox"] {
  -webkit-appearance: checkbox;
  height: 16px !important;
  margin-right: 4px  !important;
}
input[type="radio"] {
  margin-right: 4px  !important;
}
.select-group {
  width: 100%;
}
.select-group .controls {
  margin-bottom: 8px;
}
.group-text-icon {
  display: -webkit-box;
  width: 100%;
}
.group-icon {
  display: -webkit-box;
  -webkit-box-flex: 0;
  -webkit-box-pack: center;
  width: 25%;
}
.group-icon img {
  height: 21px;
  width: 21px;
}
.group-text {
  display: -webkit-box;
  width: 75%;
}
.group-text-icon select {
  width: 25%;
}
.date-group .control-group label {
  background-color: transparent;
  border: none;
  -webkit-box-pack: start;
  width: 140px;
}
.date-group .control-group input {
  background-color: #ffffff;
  border: solid 1px #acacac;
  border-radius: 6px;
  margin: 4px;
  text-transform: uppercase;
  -webkit-box-pack: justify;
  width: 45% !important;
}
.link-group li {
  margin: 0 0 4px 0;
}
.header-group {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: start;
}
.header-group img {
  margin-right: 16px;
}
.control-radio-select {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  width: 100%;
}
.control-radio-select select {
  width: 50%;
}
.control-radio-select label {
  border: 0;
  background: none;
  padding: 0 8px 0 0 !important;
  text-align: left;
  width: 40% !important;
  -webkit-box-pack: start;
}
.control-radio-select input {
  width: 24px !important;
}
.birth-date input {
  width: 204px !important;
}
.calendar input {
  width: 290px !important;
}
/* =============================================================================
   SECTION - aseq-typo.less
   ========================================================================== 
                                                                                                                                                                                                 */
h1,
h2 {
  text-transform: uppercase;
  text-align: center;
}
.logged-out header h1 {
  color: #222222;
}
.logged-out .main h1,
.logged-out .main h2,
.logged-out .main p {
  color: #fff;
}
h1 {
  font-size: 20px;
  margin: 8px 0;
}
h1 img {
  vertical-align: bottom;
}
h2,
legend {
  font-size: 18px;
}
h3 {
  font-size: 18px;
}
legend {
  text-align: left;
  margin: 8px;
}
header h1 {
  font-size: 16px;
  text-transform: none;
  margin: 0;
}
.footer {
  font-size: 11px;
}
p {
  margin: 0 0 8px 0;
}
h1 + p {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.85);
  text-align: center;
}
.logged-out h1 + p {
  color: #222222;
}
.message {
  color: #21752f;
}
.cms-list ul {
  list-style-type: none;
  margin-bottom: 16px;
}
.cms-list ul li:before {
  content: '- ';
}
.cms-list a img {
  margin-right: 8px;
  height: 16px;
  width: 16px;
}
.cms-list a.learn-more {
  background: url(images/learn-more-icon.png) no-repeat left top;
  display: inline-block;
  line-height: 23px;
  padding-left: 30px;
}
.subText {
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.85);
}
.special-color {
  font-weight: bold;
}
.special-color a {
  color: #222222;
}
.special-color.labelError {
  color: white !important;
}
.special-color.labelError a {
  color: red !important;
}
/*=============================================================================
     SECTION - aseq-utility.less
    ============================================================================*/
.center {
  text-align: center;
}
.left {
  text-align: left !important;
}
.right {
  text-align: right;
}
.justify {
  text-align: justify;
}
.m-left {
  margin-left: 8px;
}
.m-right {
  margin-right: 8px;
}
.m-right-button {
  margin-right: 4px;
}
.m-before {
  margin-top: 16px;
}
.m-after {
  margin-bottom: 16px !important;
}
.m-after-default {
  margin-bottom: 8px !important;
}
.half-m-after {
  margin-bottom: 4px !important;
}
.full-width {
  width: 100% !important;
}
.half-width {
  width: 50%;
}
.huge {
  font-size: 20px;
}
.larger {
  font-size: 18px;
}
.large {
  font-size: 16px;
}
.medium {
  font-size: 12px;
}
.small {
  font-size: 11px;
}
.micro {
  font-size: 9px;
}
.white {
  color: #fff !important;
}
.dark {
  color: #222222 !important;
  text-shadow: none !important;
}
.transparent {
  background-color: transparent !important;
}
.text-shadow {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.85);
}
.no-text-shadow {
  text-shadow: none;
}
.drop-shadow {
  -webkit-box-shadow: 0 1px 2px -1px rgba(255, 255, 255, 0.66);
}
.inner-shadow {
  -webkit-box-shadow: inset 0 1px 2px -1px #000000;
}
a:hover,
button:hover {
  text-transform: none !important;
  text-decoration: none;
}
/* Classes by dev */
.screen {
  /* display: none; */

}
.dial button {
  width: 100px;
  height: 100px;
  font-size: 22px;
  font-weight: bold;
}
.dial button span.sub-letters {
  display: block;
  font-variant: small-caps;
  font-size: smaller;
}
.alertCount {
  position: absolute;
  top: -12px;
  right: -8px;
  font-size: 12px;
  border: solid 1px red;
  border-radius: 16px;
  width: 16px;
  padding: 4px;
  background-color: red;
  color: white;
}
.rounded-corner {
  border-radius: 6px !important;
}
.rounded-corner-top-left {
  border-top-left-radius: 6px !important;
}
.rounded-corner-top-right {
  border-top-right-radius: 6px !important;
}
.rounded-corner-bottom-left {
  border-bottom-left-radius: 6px !important;
}
.rounded-corner-bottom-right {
  border-bottom-right-radius: 6px !important;
}
.flex {
  -webkit-box-flex: 1;
}
.flex-stretch {
  -webkit-box-align: stretch;
}
.vertical {
  -webkit-box-orient: vertical;
}
.no-margin {
  margin: 0 !important;
}
.no-rounded-corner {
  border-radius: 0 !important;
}
.no-border {
  border: none;
}
.font-size-form-element {
  font-size: 14px !important;
}
.legend-margin {
  padding-top: 8px !important;
}
.group-wrapper.vertical p.dark.subText {
  margin-bottom: 2px;
}
.control-group + p {
  margin-top: 2px;
}
.claim-pending-a {
    padding: 0 12px;
}
/*=============================================================================
  DEBUGGING HELPERS
  ===========================================================================*/

.checkbox
{
    margin: 8px 0;
}
.input-group
{
    margin: 4px 0;
}